body {
  width: 100vw;

  margin: 0;
  padding: 0;
  background-color: #bdc5da;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: transparent;
}

a {
  margin-bottom: 15px;
}

img {
  width: 500px;
}

@media only screen and (max-width: 500px) {
  img {
    width: 300px;
  }
}
